<header id="header">
    <div class="center">
        <div class="logo">
            <img src="../../../assets/images/descarga.svg" class="app-logo" alt="logotipo">
            <span id="brand">
                <strong>Curso</strong> Angular
            </span>
        </div>

        <nav id="menu">
            <ul class="list">
                <li class="li"><a routerLink="/home" routerLinkActive="active">Inicio</a></li>
                <li class="li"><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
                <li class="li"><a routerLink="/formulario" routerLinkActive="active">Formulario</a></li>
                <li class="li"><a routerLink="/peliculas" routerLinkActive="active">Pagina 1</a></li>
                <li class="li"><a routerLink="/pagina-de-pruebas" routerLinkActive="active">Pagina 2</a></li>
            </ul>
        </nav>
    </div>
</header>
