body{
    text-align: center;
    margin: 0;
    padding: 0;
}

#header{
    display: flex;
    height: 120px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #ccc;
    border-top: 5px solid #cd1b1b;
}

.center{
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    width: 50%;
    justify-content: center;
}

.logo img{
    height: 100px;
    animation: girar infinite 10s linear;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#brand{
    display: flex;
    font-size: 32px;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: sans-serif;
    color: gray;
    text-decoration: underline;
    margin-left: 10px;
}

#menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    
}


.list{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
    margin: 0;
}

.li{
    margin-right: 20px;
    list-style: none;
}

.li a{
    text-decoration: none;
    color: gray;
    font-family: sans-serif;
    font-size: 20px;
}

.li a:hover,
.active{
    color: #f13e3e !important;
}

.slider-big{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    color: white;
    text-shadow: 0px 0px 5px #444;
    font-family: sans-serif;

    background: rgba(248,58,48,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(248,58,48,1) 0%, rgba(244,82,75,1) 22%, rgba(241,96,91,1) 35%, rgba(246,18,14,1) 67%, rgba(240,28,25,1) 81%, rgba(231,39,42,1) 94%, rgba(231,39,42,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(248,58,48,1)), color-stop(22%, rgba(244,82,75,1)), color-stop(35%, rgba(241,96,91,1)), color-stop(67%, rgba(246,18,14,1)), color-stop(81%, rgba(240,28,25,1)), color-stop(94%, rgba(231,39,42,1)), color-stop(100%, rgba(231,39,42,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(248,58,48,1) 0%, rgba(244,82,75,1) 22%, rgba(241,96,91,1) 35%, rgba(246,18,14,1) 67%, rgba(240,28,25,1) 81%, rgba(231,39,42,1) 94%, rgba(231,39,42,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(248,58,48,1) 0%, rgba(244,82,75,1) 22%, rgba(241,96,91,1) 35%, rgba(246,18,14,1) 67%, rgba(240,28,25,1) 81%, rgba(231,39,42,1) 94%, rgba(231,39,42,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(248,58,48,1) 0%, rgba(244,82,75,1) 22%, rgba(241,96,91,1) 35%, rgba(246,18,14,1) 67%, rgba(240,28,25,1) 81%, rgba(231,39,42,1) 94%, rgba(231,39,42,1) 100%);
    background: radial-gradient(ellipse at center, rgba(248,58,48,1) 0%, rgba(244,82,75,1) 22%, rgba(241,96,91,1) 35%, rgba(246,18,14,1) 67%, rgba(240,28,25,1) 81%, rgba(231,39,42,1) 94%, rgba(231,39,42,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f83a30', endColorstr='#e7272a', GradientType=1 );
    
}

.slider-big h1{
    margin: 0;
    padding: 0;
    text-align: center;
}

.btn-white{
    color: rgb(88,88,88);
    text-decoration: none;
    font-family: sans-serif;
    padding: 10px;
    background: white;
    border-radius: 4px;
    text-shadow: none;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0px 0px 5px rgb(88,88,88);
    transition: 300ms all;
}

.btn-white:hover{
    background: #444;
    color: white;
}

#slider.slider-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
    color: white;
    text-shadow: 0px 0px 5px #444;
    font-family: sans-serif;

    background: rgba(73,155,234,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(111,222,222,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(111,222,222,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(111,222,222,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(111,222,222,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(111,222,222,1) 100%);
    background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(111,222,222,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#6fdede', GradientType=1 );
    
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content__title{
    margin-right: 6rem;
    margin-left: 2rem;
}
.content__title h1{
    margin-bottom: 30px;
    font-size: 38px;
    font-weight: bold;
    font-family: sans-serif;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

#sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar-item h3{
    border-bottom: 2px solid lightgrey;
    width: 100%;
}

#nav-blog{
    
    height: 15vh;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-blog a { 
   text-decoration: none;
   border: 2px solid black;
   max-width: 150px;
   text-align: center;
   margin-top: 10px;
   padding: 10px;
   background-color: black;
   color: white;
   font-weight: bold;
}

#search{ 
    height: 15vh;
    background-color: #f7f7f7;
    margin-top: 30px;
}

.sidebar-item{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.article-item{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: left;
    
}

.article-item .image-wrap{
    display: flex;
    overflow: hidden;
    width: 130px;
    height: 130px;
    border: 1px solid #ccc;
    margin-right: 15px;
}

.article-item .image-wrap img{
    height: 100%;
    text-align: center;
}

.article-item h2{
    display: block;
    width: 100%;
    padding: 0px;
    margin: 0px;
    margin-bottom: 7px;

}
.article-item .date{
    display: block;
    width: 100%;
    color: rgb(122,122,122);
}

.article-item a{
    display: block;
    color: #444;
    text-decoration: none;
    margin-top: 10px;
}

.article-item a:hover{
    text-decoration: underline;
}

#footer{
    height: 10vh;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* desde 0px hasta 1488px se ejecutaran estos estilos */
@media (max-width: 1488px){
    .center{
        width: 85%;
    }
}
@media (max-width: 1313px){
    .center{
        width: 95%;
        flex-direction: column;
        justify-content: center;
    }

    #menu ul{
        width: auto;
    }
}
@media (max-width: 797px){

    .logo{
        width: 240px;
        margin: 0px auto;
        margin-top: 20px;
    }

    #header{
        flex-direction: column;
        height: auto;
    }

    .center{
        
        flex-direction: column;
    }

    #menu, 
    #menu ul{
        width: 100%;
        clear: both;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0px;
    }

    .content{
        flex-direction: column;
        width: 100%;
    }

    #sidebar{
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-left: 20%;
    }

    .sidebar-item{
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 497px){
    
    #header{
        min-height: 130px;
        overflow: hidden;
    }

    .content__title{
        width: 60%;
        margin-left: 20%;
    }
    #menu, 
    #menu ul{
        width: 100%;
        clear: both;
        margin: 0px;
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0px;
        flex-direction: column;
    }
}

