<app-header></app-header>
<app-slider></app-slider>
<div class="content">
    <section class="content__title">
        <router-outlet></router-outlet>
    </section>
    <app-sidebar></app-sidebar>
</div>

<app-footer></app-footer>