<aside id="sidebar">
    <div id="nav-blog" class="sidebar-item">
        <h3>Puedes hacer esto</h3>
        <a href="#">Crear artículo</a>
    </div>
    <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p> Encuentra tu mejor articulo</p>
        <form>
            <input type="text" name="search" />
            <input type="submit" name="submit" value="Buscar"/>
        </form>
    </div>
</aside>